@font-face {
    /* font source fontspace.com https://www.fontspace.com/digital-7-font-f7087  */
    font-family: 'Digital-7';
    src: url('./fonts/Digital-7.woff2') format('woff2'),
        url('./fonts/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    font-family: 'Digital-7';
}
 html, body{
    height: 100%;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculator{
    width: 75vh;
    height: 75vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.branding{
    color: white;
    font-family: 'Digital-7';
    font-size: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display{
    background-color: lightgreen;
    margin: 15px;
    border-radius: 10px;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    font-size: 35px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    margin: 0px 15px 15px;        
}

.button{
    flex: 20%;
    background-color: rgba(233, 233, 233, 0.945);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
}

.operator, .equals, .clear, .backspace {
    background-color: lightgoldenrodyellow;
}
/* 
.bottom-row, .equals-row{
    display: flex;
    margin: 0 15px;
} */
/* 
.clear{
    margin: 15px 5px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
} */